.outer
{
background-color:lightblue;
width:1200px;
min-height:600px;
margin:0 auto;
}
.header
{
background-color:whitesmoke;
width:1200px;
height:150px;
box-sizing:border-box;
border:5px double black;
}
.hleft
{
background-color:#00d;
width:100px;
height:100px;
float:left;
margin:20px;
border-radius:20px;
}
.hleft:hover
{

padding:0 0 0 20;
}
.hright
{
background-color:#005;
width:900px;
margin:20px;
padding:15px;
height:100px;
color:white;
font-size:40px;
border-radius:20px;
float:left;
box-sizing:border-box;
}
.hright:hover
{
background-color:white;

color:#005;
}
.slider:hover
{
opacity:0.8;
}
.menubar
{
background-color:cyan;
height:50px;
width:1200px;
border:2px black solid;
box-sizing:border-box;
}
.menu
{
background-color:#007;
color:white;
font-size:25px;
width:150px;
height:40px;
float:left;
box-sizing:border-box;
padding:5 0 5 20;
margin:5 10;
border-radius:10px;
}
.menu:hover
{
background-color:cyan;
color:#001;
font-size:30px;}
font
{
font-family:rockwell;
font-weight:bold;
text-decoration:underline;
}
body
{
margin:0 auto;
}
.main
{
background-color:white;
min-height:400px;
width:1200px;
float:left;

}
.mleft
{
width:240px;
height:400px;
background-color:white;
float:left;
}
.mright
{
width:940px;
min-height:700px;
border-left:2px solid black;
float:right;
font-size:20px;
background-color:white;
text-align:justify;
box-sizing:border-box;
padding:5 10 0 15;
}
.image
{
width:250px;
height:250px;
background-color:cyan;
float:left;
box-sizing:border-box;
margin:10px;
}
.image:hover
{
transform: scale(1.2,1.2);
opacity:0.8;
}
a
{text-decoration:none;}
.lmenu
{
background-color:#007;
color:white;
font-size:25px;
text-align:center;
width:150px;
height:35px;
box-sizing:border-box;
padding:5 0;
margin:20 0 0 50;
border-radius:10px;
}
.lmenu:hover
{
background-color:yellow;
color:black;
}
.footer
{
width:1200px;
height:150px;
background-color:lightblue;
clear:both;
}
.fmenu{
background-color:blue;
color:white;
height:50px;
font-size:23px;
margin-top:40px;
float:left;
box-sizing:border-box;
border:2px solid white;
padding-left:10px;
padding-top:5px;
}
.rikita
{
width:800px;
background-color:gray;
height:40px;
margin:20 0 0 30;
box-sizing:border-box;
}
.culeft,.curight
{
width:200px;
height:40px;
box-sizing:border-box;
padding-left:15px;
padding-top:5px;
border-right:2px solid black;
background-color:lightblue;

}
.curight
{
width:600px;
border:none;
}
red
{
color:red;

}

.input
{
height:40px;
width:600px;
box-sizing:border-box;
}
.pn
{
padding:0px;
}
.button
{
height:40px;
width:100px;
background-color:#005;
color:white;
}
.course
{
    width:900px;
    height:700px;
}